table, th, td {
  border: 1px solid black;
}

.text-updater-node {
  height: 20px;
  border: 0px;
  padding-left: 9px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  background: white;
  width:50px;
}

.text-updater-node input {
  border: 0px;
  width: 100px;
}

table, tr, td {
  border: none;
}

.parent-container {
  border: 2px solid black;
  width: 1400px;
  height: 800px;
}